<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/pavanhalde21/Python_lecture_files/blob/dev_pavan_branch/001_Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

In [ ]:
# 1. reverse words in a sentence

a = "Ram was God"
l = a.split()

l.reverse()
s1 = " ".join(l)
print(s1)
print(s1,s1,s1,s1)

God was Ram

In [ ]:
# 2. reverse words in a sentence

a = "Ram was God"
l = a.split(' ')

c = ''

for i in l:
    c = i+' '+c

print(c)

God was Ram

In [ ]:
# 3. longest string in a list

languages = ['Python', 'Java', 'JavaScript', 'C', 'C++', 'PHP']

longest = None
for i in languages:
    if longest == None:
        longest = i
    elif len(i) > len(longest):
        longest = i

print(len(longest))

10

In [ ]:
# 4. longest string in a list

la = ['Python', 'Java', 'JavaScript', 'C', 'C++', 'PHP']

b = len(la[0])
for i in la:
    if len(i)>b:
        b=len(i)

print(b)

10

In [ ]:
# 5. average of ages

d1 = {'ram': 20, 'sita': 26, 'laxman': 18}

sum = 0
for i,j in enumerate(d1.values()):
    sum += j


avg = sum/(i+1)

print(avg)

21.333333333333332

In [ ]:
# 6. shortest length of a string

languages = ['Python', 'Java', 'JavaScript', 'C', 'C++', 'PHP']

shortest = None
for i in languages:
    if shortest == None:
        shortest = i
    elif len(i) < len(shortest):
        shortest = i

print(len(shortest))

In [ ]:
# 7. oldest person

l1 = [('ram',20),('sita',26),('laxman',18)]

old = None
for i in l1:
    if old == None:
        old = i[1]
        name_old = i[0]
    elif i[1] > old:
        old = i[1]
        name_old = i[0]

print(name_old)

sita

In [ ]:
l1 = [('ram',20),('sita',26),('laxman',18)]

s = l1[0][1]
n = l1[0][0]

for i in l1:
    if i[1]> s:
        s = i[1]
        n = i[0]

print(n)

sita

In [ ]:
# 8. print names of people having age greater than 18

l1 = [('ram',20),('sita',26),('laxman',18)]

for i in l1:
    if i[1] > 18:
        print(i[0])

ram
sita

In [ ]:
# 9. age greater than 18

d1 = {'ram': 20, 'sita': 26, 'laxman': 17}

for i,j in d1.items():
    if j>18:
        print(i)

ram
sita

In [ ]:
# 10. reverse string

s = "shiva"

n = ''

for i in s:
    n = i + n

print(n)

avihs

In [ ]:

s='pavan'

c = ''

for i in s:
    c = i + c

print(c)

navap

In [ ]:
# 11. swap numbers without using temperory variable

a = 123
b = 456

a,b = b,a

print(a,b)

456 123

In [ ]:
a = 1
b = 3

a=a+b

b=a-b
a=a-b
print(a,b)

3 1

In [ ]:
# 12. number of occurances of a character in a string

s = 'pavan'
d1 = {}

for i in s:
    if i not in d1.keys():
        d1[i] = 1
    else:
        d1[i] = d1[i] + 1

print(d1)

{'p': 1, 'a': 2, 'v': 1, 'n': 1}

In [ ]:
s = 'pavan'
d2 = {}

for i in s:
    if i not in d2.keys():
        d2[i] = s.count(i)

print(d2)

{'p': 1, 'a': 2, 'v': 1, 'n': 1}

In [ ]:
from collections import Counter

s = 'pavan'
d2 = Counter(s)

print(d2)

Counter({'a': 2, 'p': 1, 'v': 1, 'n': 1})

In [ ]:
# 13. remove dublicates from a list and create a new list

l = [1,2,2,3,4,3,5]

l1 = []

for i in l:
    if i not in l1:
        l1.append(i)

print(l1)

[1, 2, 3, 4, 5]

In [ ]:
l = [1,2,2,3,4,3,5]
print(id(l))
l2 = []
l3 = []
for i in l:
    if i not in l3:
        l3.append(i)
    else:
        l2.append(i)
print(l3)

for i in l:
    if i in l2:
        l.remove(i)

print(l)
print(id(l))

1716432340544
[1, 2, 3, 4, 5]
[1, 2, 4, 5]
1716432340544

In [ ]:
# 14. convert into title case

s = 'my name is pavan'
s1 = s.split()
s2 = ''

for i in s1:
    i = i.capitalize()
    s2 = s2 + ' ' + i

print(s2)

 My Name Is Pavan

In [ ]:

s = 'my name is pavan'
l = s.title()
print(l)

In [ ]:

# 15. sort the list of dictionary by age in ascending order.

l = [
    {'name': 'pavan', 'age': 23, 'city': 'Pune'},
    {'name': 'rutuja', 'age': 22, 'city': 'Pune'},
    {'name': 'sneha', 'age': 25, 'city': 'Pune'},
    {'name': 'vikram', 'age': 28, 'city': 'Mumbai'},
    {'name': 'priya', 'age': 26, 'city': 'Delhi'},
    {'name': 'rahul', 'age': 24, 'city': 'Bangalore'},
    {'name': 'ananya', 'age': 27, 'city': 'Hyderabad'},
    {'name': 'akash', 'age': 30, 'city': 'Chennai'},
    {'name': 'ishaan', 'age': 29, 'city': 'Kolkata'},
    {'name': 'divya', 'age': 31, 'city': 'Ahmedabad'},
    {'name': 'varun', 'age': 32, 'city': 'Jaipur'},
    {'name': 'sakshi', 'age': 21, 'city': 'Lucknow'},
    {'name': 'arjun', 'age': 26, 'city': 'Patna'},
    {'name': 'nisha', 'age': 27, 'city': 'Guwahati'},
    {'name': 'aditi', 'age': 24, 'city': 'Bhopal'}
]
l2 = []
l3 = []
for i in l:
    l3.append(i['age'])

l3.sort()
print(l3)

for i in l3:
    for j in range(len(l3)):
        if l[j]['age'] == i:
            l2.append(l[j])

print(l2)

[21, 22, 23, 24, 24, 25, 26, 26, 27, 27, 28, 29, 30, 31, 32]
[{'name': 'sakshi', 'age': 21, 'city': 'Lucknow'}, {'name': 'rutuja', 'age': 22, 'city': 'Pune'}, {'name': 'pavan', 'age': 23, 'city': 'Pune'}, {'name': 'rahul', 'age': 24, 'city': 'Bangalore'}, {'name': 'aditi', 'age': 24, 'city': 'Bhopal'}, {'name': 'rahul', 'age': 24, 'city': 'Bangalore'}, {'name': 'aditi', 'age': 24, 'city': 'Bhopal'}, {'name': 'sneha', 'age': 25, 'city': 'Pune'}, {'name': 'priya', 'age': 26, 'city': 'Delhi'}, {'name': 'arjun', 'age': 26, 'city': 'Patna'}, {'name': 'priya', 'age': 26, 'city': 'Delhi'}, {'name': 'arjun', 'age': 26, 'city': 'Patna'}, {'name': 'ananya', 'age': 27, 'city': 'Hyderabad'}, {'name': 'nisha', 'age': 27, 'city': 'Guwahati'}, {'name': 'ananya', 'age': 27, 'city': 'Hyderabad'}, {'name': 'nisha', 'age': 27, 'city': 'Guwahati'}, {'name': 'vikram', 'age': 28, 'city': 'Mumbai'}, {'name': 'ishaan', 'age': 29, 'city': 'Kolkata'}, {'name': 'akash', 'age': 30, 'city': 'Chennai'}, {'name': 'divya', 'age': 31, 'city': 'Ahmedabad'}, {'name': 'varun', 'age': 32, 'city': 'Jaipur'}]

In [ ]:
l = [{'name': 'pavan', 'age': 23, 'city': 'Pune'},
     {'name': 'rutuja', 'age': 22, 'city': 'Pune'},
     {'name': 'sneha', 'age': 25, 'city': 'Pune'}]

# Sort the list of dictionaries based on the 'age' key
l2 = sorted(l, key=lambda x: x['age'])

print(l2)

In [ ]:
item_prices = {'apple': 90, 'banana': 50, 'orange': 60, 'mango': 110}

In [ ]:
tu = 1,2,34,5,6,7,8
maxx = None
minn = None
for i in tu:
    if maxx == None:
        maxx = i
    if maxx<i:
        maxx = i

    if minn == None:
        minn = i
    if minn>i:
        minn = i

print(maxx,minn)
print(maxx-minn)

In [ ]:
l = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
print(id(l))
l2 = []

for i in l:
    l2.append(i[0])
    i.pop(0)

l2.reverse()

# print(l2)

for j,i in enumerate(l2):
    (l[j]).insert(0,i)

print(l)
print(id(l))

# changes made in the original list

In [ ]:
l = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]

d = l[::-1]

print(d)

l1 = []

for i,j in enumerate(d):
    l1.append([j[0]] + l[i][1:])

print(l1)

In [ ]:
s = 'pavan'

c = 0

for i in s:
    if i in 'aeiou':
        c += 1

print(c)

In [ ]:
l = ['Python', 'Java', 'JavaScript', 'C', 'C++', 'PHP']
a = l[0]
for i in l:
    if len(a)<len(i):
        a = i

print(a)

In [ ]:
l = ['Python', 'Java', 'JavaScript', 'C', 'C++', 'PHP']
for i in l:
    if i.startswith('J'):
        print(i)

In [ ]:
s = 'you have a string and you need to count'
l = s.split()


d = {}

for i in l:
    if i not in d.keys():
        d[i]=1

    else:
        d[i] += 1

print(d)

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]
output = []
for i,j in enumerate(l1):
    output.append(l2[i] + j)

print(output)

In [ ]:
l1 = [1,2,3]
l2 = ['a','b','c']
output = {}
for i,j in enumerate(l1):
    output[j] = l2[i]

print(output)

In [ ]:
a = 'aaaabbbcc'
d = {}
for i in a:
    if i not in d:
        d[i] = 1

    else:
        d[i] += 1

print(d)

c = ''

for i in d.values():
    c = c+ str(i)

print(int(c))

In [ ]:
a = 'aaaabbbcc'
d = {}
for i in a:
    if i not in d:
        d[i] = 1

    else:
        d[i] += 1

print(d)

for i in d.values():

In [ ]:
li = [10,20,4,45,88]

maxx = None

for i in li:
    if maxx == None:
        maxx = i
    if maxx < i:
        maxx = i

print(maxx)
smaxx = None



for i in li:
    if smaxx == None:
        smaxx = i
        # print(smaxx)
    if smaxx < i and smaxx != maxx:
        smaxx = i

print(smaxx)
####################################################???????????????????????????????

In [ ]:
l = ['pavan']

print(map(str,l))

mew = "".join(map(str,l))

print(mew)

print(type(mew))

In [ ]:
a = 121
sums = 0
for i in range(len(str(a))):
    rem = a%10
    sums = sums * 10 + rem

In [ ]:

a = [{'role': 'ASE', 'id':1}, {'role': 'SE', 'id':2},{'role': 'ASE', 'id':3}]
#o/p: ('ASE':[1,3], 'SE':[2])
l = []
l1 = []
d = {}

for i in a:
    for k,v in i.items():
        if v == 'ASE':
            l.append(i['id'])
            d[v] = l

        elif v == 'SE':
            l1.append(i['id'])
            d[v] = l1
print(d)

{'ASE': [1, 3], 'SE': [2]}

In [ ]:
a = [{'role': 'ASE', 'id':1}, {'role': 'SE', 'id':2},{'role': 'ASE', 'id':3}]
#o/p: ('ASE':[1,3], 'SE':[2])
l = []
l1 = []
d = {}

for i in a:
    for k,v in i.items():
        if v == 'ASE':
            l.append(i['id'])

        elif v == 'SE':
            l1.append(i['id'])

d.setdefault('ASE',l)
d.setdefault('SE',l1)
print(d)

{'ASE': [1, 3], 'SE': [2]}

In [ ]:
a = [1,2,3]
b = ['a','b','c']
d ={}
for i,j in zip(a,b):
    d[i] = j

print(d)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
a = [1,2,3,4,5,6]

l = [i*i if i%2==0 else i*i*i for i in a]

print(l)

[1, 4, 27, 16, 125, 36]

In [ ]:
a = [3,4,5,6,0]

b = [9,5,6,1,8]

l = []
for i in a:
    for j in b:
        if i+j == 9:
            l.append((i,j))

print(l)

[(3, 6), (4, 5), (0, 9)]

In [ ]:
a = [3,4,5,6,0]

b = [9,5,6,1,8]

l = [(i,j) for i in a for j in b if i+j ==9]

print(l)

[(3, 6), (4, 5), (0, 9)]

In [ ]:
str1  = '123$4456%7489*0^'

# 098$4765%4432*1^

l = []
l1 = []

for i in str1:
    if i.isdigit():
        l.append(i)

l.reverse()
# print(l)
s = 0

for i,j in enumerate(str1):
    if j.isdigit():
        # print(l[i-s])
        l1.append(l[i-s])
    else:
        l1.append(j)
        s+=1

# print(l1)
v = ''.join(l1)
print(v)

098$4765%4432*1^

In [ ]:
str1  = '123$4456%7489*0^'

# 098$4765%4432*1^
l = []

for i in str1:
    if i.isdigit():
        l.append(i)

l.reverse()

for i,j in enumerate(str1):
    if j.isdigit():
        pass
    else:
        l.insert(i,j)

v = ''.join(l)
print(v)

098$4765%4432*1^

In [ ]:
l = [0,1,1,0,0,1,0,0,1]

l.sort()
print(l)

[0, 0, 0, 0, 0, 1, 1, 1, 1]

In [ ]:
for i in range(10):
    if i%2==0:
        pass
    else:
        print(i)

1
3
5
7
9

In [ ]:
str1 = 'pavan'

d = {a : str1.count(a) for a in str1}

print(d)

{'p': 1, 'a': 2, 'v': 1, 'n': 1}

In [ ]:
a = ['3a','4b','5c','1d']

c = ''
for j in a:
    for n in range(int(j[0])):
        c += j[1]

print(c)

aaabbbbcccccd

In [ ]:
a = ['3a','4b','5c','1d']

c = ''
for j in a:
    c = c + (j[1])*(int(j[0]))

print(c)

aaabbbbcccccd

In [ ]:
a = 'Sachin Ramesh Tendulkar'

l = a.split()

for i in l[0:2]:
    l.remove(i)
    c = i[0] + '.'
    l.append(c)

b = ' '.join(l)
print(b)

Tendulkar S. R.

In [ ]:
a = 'A3G4B2'
b = ''
for i in a:
    if i.isalpha():
        b=b+i
        x=i
    else:
        a=int(i)
        c=chr(ord(x)+a)
        b=b+c

print(b)

ADGKBD

In [ ]:
s = 'aaaabahhhhhaaa'

c = ''

for i in s:
    if i not in c:
        c = c + i + str(s.count(i))

print(c)

a8b1h5

In [ ]:
s = [700,232,552,634,45,700,500,200]
l = []
for i in range(len(s)):
    t = s[0]
    for j in s:
        if j > t:
            t = j
    l.append(t)
    s.remove(t)

print(l)

[700, 700, 634, 552, 500, 232, 200, 45]

In [ ]:
l = 'This is a list of words that contains some technical jargon and abbreviations'

a = l.split()
# print(a)

for i in a:
    if len(i) in range(5,8):
        print(i)

words
jargon

In [ ]:
l = [1,2,3,4]

l1 = l.copy()

for i in l1:
    l.remove(i)

print(l)

[]

In [ ]:
#############################################################################################################
#############################################################################################################
#############################################################################################################
#############################################################################################################
#############################################################################################################
#############################################################################################################
#############################################################################################################
#############################################################################################################
#############################################################################################################

In [ ]:

for i in range(0,6):
    print(' '*(i) + '*'*(5-i))

*****
 ****
  ***
   **
    *

In [ ]:
user_input1 = int(input())
user_input2 = int(input())

if user_input1 > user_input2:
    print(user_input1, 'is greater')

else:
    print(user_input2, 'is greater')

200 is greater

In [ ]:
salary = int(input())

dearness_allowance = salary*0.45

home_allowance = salary*0.25

gross_salary = salary + dearness_allowance + home_allowance

print(gross_salary)

34000.0

In [ ]:
n = int(input())
sum = 0
for i in range(1,n+1):
    sum = sum + i

print(sum)

50005000

In [ ]:
# dynamically typed

x = 4
y = 'pavan'
z = [1,2,3]

In [ ]:
print("Square root of 16:", math.sqrt(16))

Random float between 0 and 1: 0.8692425679780342

In [ ]:
import random

# Generate a random integer between 1 and 10 (inclusive)
print( random.randint(1, 10))

2

In [ ]:

n = int(input('enter a number:  '))
sum = 0
for i in range(1,n+1):
    sum = sum + i

print(sum)

15

In [ ]:


def func(*y):
    z = 0
    for i in y:
        z = i + z

    print(z)

func(1,2,3,4,5,6)
func(1,2,3,4)
func(1,2,3,4,5,6,7,8)

21
10
36

In [ ]:
def fun1(days):
    if days < 5:
        fine = 1
    elif 5 < days < 20:
        fine = 2

    return fine

x = fun1(7)

print(x)

2

In [ ]:
# lambda funcion is an anonomous (no name) function
# lambda function uses lambda keyword instead of def
# lambda function has only one expression

In [ ]:
# list comphrension
list1 = [1,2,3,4]

list2 = []

for i in list1:
    list2.append(i**2)
    print(list2)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]

In [ ]:
list2 = [i**2 for i in list1]
# list2 = [expression for element in existing_list]
print(list2)

[1, 4, 9, 16]

In [ ]:
set1 = {1,2,3,1,1,1,1,1,'pavan'}

print(set1)

set1.add('shiva')
print(set1)

{'pavan', 1, 2, 3}
{'pavan', 1, 2, 3, 'shiva'}

In [ ]:
list1 = [1,'pavan',[2],{'key1':'value2'}]
print(id(list1))
list1.append('shiva')

print(list1)
print(id(list1))

list1 = 2

print(list1)

2343874395136
[1, 'pavan', [2], {'key1': 'value2'}, 'shiva']
2343874395136
2

In [ ]:
tup1 = (1,'pavan',[2],{'key1':'value2'},1,2,2,2,2,2)

print(tup1)

(1, 'pavan', [2], {'key1': 'value2'}, 1, 2, 2, 2, 2, 2)

In [ ]:
dict1= {1:'one',2:'two'}
print(id(dict1))
print(dict1)

dict1[3] = 'three'
print(id(dict1))

print(dict1)

2343874452672
{1: 'one', 2: 'two'}
2343874452672
{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
# mutable
# list
# dictionary
# set

In [ ]:
# immutable
# tuple
# string
# integer

In [ ]:
# arethematic operator

a = 2+1
b = 2-1
c = 2*3
d = 4/2
e = 2**2 # power

In [ ]:
# comparison operator
a<b
c>b
d<=g
g>= f

In [ ]:
a = 'pavan' # global variable # scope is everywhere

def neet(a):
    b = 'om' # local variable # scope limited to this function only

print(a)

pavan

In [ ]:
# 10, 50, 100, 200

amount = int(input('enter amount: '))

n1 = 0
n2 = 0
n3 = 0

if amount >= 200:
    n1 = amount//200
    amount = amount%200

if amount >= 100:
    n2 = amount//100
    amount = amount%100

if amount >= 50:
    n3 = amount//50
    amount = amount%100

else:
    print('enter amount greater than 50')

print(n1, '- 200 rupees notes')
print(n2, '- 100 rupees notes')
print(n3, '- 50 rupees notes')

enter amount greater than 50
0 - 200 rupees notes
0 - 100 rupees notes
0 - 50 rupees notes

In [ ]:
a = 'pavan'

In [ ]:
class Person:
    def __init__(self,a,b):



    def fun(a,b):
        return a/b

In [ ]:
# The __init__() method / Constructor.
# Constructor is a special method in a class used to create and initialize an object of a class.

# -- The name of the constructor should be __init__(self)
# -- Constructor is invoked automatically when an object of a class is created.
# -- The main purpose of a constructor is to initialize or assign values to the data members of that class. It cannot return any value other than None.
# -- __init__() can be used to perform other operations that are necessary when the object is being created.
# -- Per object constructor will be exeucted only once.
# -- Constructor takes at least one argument(i.e. self)
# -- Constructor is optional and if we are not providing any constructor then python will provide default constructor.


########### constructor is called only once whenever an object is created