<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/pavanhalde21/Python_lecture_files/blob/dev_pavan_branch/001_Sankrantri_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

In [ ]:
# largest and smallest

largest = None
smallest = None
while True:
    num = input("Enter a number: ")
    if num == 'done':
        break
    try:
        value=int(num)
        if smallest is None:
            smallest = value
        if value < smallest:
            smallest = value
        if largest is None: #
            largest = value
        if value > largest:
            largest=value
    except:
        print("Invalid input")


print('Maximum is',largest)
print('Minimum is',smallest)

Maximum is 7
Minimum is 3

In [ ]:
# largest number with None

largest_so_far = None
print('Before',largest_so_far)
for the_num in [-2,-44,-56,-98,-23,-776,-31,-54]:
    if largest_so_far is None:
        largest_so_far = the_num
    elif the_num > largest_so_far:
        largest_so_far = the_num
    print(largest_so_far, the_num)
print('After', largest_so_far)

In [ ]:
# ***
# **
# *
# print above pattern


n = 3
for i in range(n):
    print("*" * (n-i)) # Prints * n-i times

In [ ]:
#   *
#  ***
# *****
# print above pattern

n = 3
for i in range(3):
    print(" " * (n-i-1),end="")
    print("*" * (2*i+1), end="")
    print(" " * (n-i-1))

In [ ]:
# *
# **
# ***
# ****
# print above pattern

n = 4
for i in range(n):
    print("*" * (i+1))

In [ ]:
# prime number or not

n = int(input())

for i in range(2,n):
    if n%i == 0:
        print('Not a prime number')
        break

else:
    print('Prime number')

Prime number

In [ ]:
num = int(input("Enter the number: "))
prime = True

for i in range(2, num):
    if(num%i == 0):
        prime = False
        break
if prime:
    print("This number is Prime")
else:
    print("This number is not Prime")

This number is Prime

In [ ]:
# Find factorial

n = int(input())
f = 1

for i in range(2,n+1):
    f = f*i

print(f)

120

In [ ]:
# Sum of first n natural number

n = int(input())
sum = 0
i = 1
while i<=n:
    sum += i
    i += 1

print(sum)

In [ ]:
# reverse string

st = 'pavan'

st1 = st[::-1] ### reverse
print(st1)

navap

In [ ]:
c = ''

for i in st:
    c = i+c

print(c)

navap

In [ ]:
# find average age
d1 = {'ram': 20, 'sita': 26, 'laxman': 18}

sum = 0
for i,j in enumerate(d1.values()):
    sum += j


avg = sum/(i+1)

print(avg)

21.333333333333332

In [ ]:
# reverse words in a string

a = "Ram was God"
l = a.split()

l.reverse()
s1 = " ".join(l)
print(s1)

God was Ram

In [ ]:
# palindrome

str1 = "Pavap"
str0 = str1.lower()
if str0 == str0[::-1]:
    print(True)
else:
    print(False)

True

In [ ]:
# Find length of a string in python (4 ways)
str0 = "Sati"

#1
print(len(str0))

#2
j = 0
for i in str0:
    j += 1
print(j)

#3
j = 0
while str0[j:]: ####
    j += 1
print(j)

#4
def count1(str0):
    return sum(1 for i in str0)
print(count1("Mithra"))

#5
str0 = "Bahmandokht"
j = 0
for i,k in enumerate(str0):
    pass
print(i+1)

4
4
4
6
11

In [ ]:
# Python program to check if a string has at least one letter and one number

str1 = "Dhoni07"
c_num = False
c_alpha = False
def fun(str):
    for i in str1:
        if i.isalpha():
            c_alpha = True
        if i.isdigit():
            c_num = True

    return c_num and c_alpha

print(fun(str1))

True

In [ ]:
result = [i*i for i in  [1,2,3,4,5,6,7]]
print(result)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# Program to print duplicates from a list of integers

lst = [123,11,-56,11,78,-963,11,78,-45,654,-11,783,123]
new_lst = []
for i in lst:
    if i in new_lst:
        print(i)
        continue
    new_lst.append(i)

11
11
78
123

In [ ]:
# Python program to find Cumulative sum of a list Break a list into chunks of size N in

lst = [1,2,3,4,5,6,7,8,9,10]
new_lst = []
j = 0
for i in lst:
    j += i
    new_lst.append(j)

print(new_lst)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [ ]:
# this will print elements in generator object

tuple_comp = (i for i in range(10))
print(tuple_comp) # generator object
print(type(tuple_comp))

for j in tuple_comp:
    print(j)

t = tuple(tuple_comp)
print(t) # tuple

<generator object <genexpr> at 0x0000022AF000EDC0>
<class 'generator'>
0
1
2
3
4
5
6
7
8
9
()

In [ ]:
tuple_comp = (i for i in range(10))
print(tuple_comp) # generator object
print(type(tuple_comp))

t = tuple(tuple_comp)
print(t)

<generator object <genexpr> at 0x0000022AF000ECF0>
<class 'generator'>
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:

square_dict = { num : num*num for num in range(1, 11)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
d = {k: v for k, v in zip(keys, values)}
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
## 1. Python | Sort Python Dictionaries by Key or Value - using list comphrension

# sort by key
dict1 = {"Pariha":"Persia","Sapta":"Hapta","Sindu":"Hindu","Asura":"Ahura","Shava":"Shiva","Fravashi":"Agni"}
lst = list(dict1.keys())
lst.sort()
sorted_dict = {i : dict1[i] for i in lst}
print(sorted_dict)

dict1 = {"Pariha":"Persia","Sapta":"Hapta","Sindu":"Hindu","Asura":"Ahura","Shava":"Shiva","Fravashi":"Agni"}
lst = list(dict1.keys())
lst.sort()
sorted_dict = {}
for i in lst:
    sorted_dict[i] = dict1[i]
print(sorted_dict)

# sort by values
dict1 = {"Pariha":"Persia","Sapta":"Hapta","Sindu":"Hindu","Asura":"Ahura","Shava":"Shiva","Fravashi":"Agni"}
lst = []
for k,v in dict1.items():
    lst.append((v,k))
lst.sort()
dict2 = dict(lst)
print(dict2)

dict1 = {"Pariha":"Persia","Sapta":"Hapta","Sindu":"Hindu","Asura":"Ahura","Shava":"Shiva","Fravashi":"Agni"}
lst = sorted((v,k) for k,v in dict1.items())
dict2 = dict(lst)
print(dict2)

{'Asura': 'Ahura', 'Fravashi': 'Agni', 'Pariha': 'Persia', 'Sapta': 'Hapta', 'Shava': 'Shiva', 'Sindu': 'Hindu'}
{'Asura': 'Ahura', 'Fravashi': 'Agni', 'Pariha': 'Persia', 'Sapta': 'Hapta', 'Shava': 'Shiva', 'Sindu': 'Hindu'}
{'Agni': 'Fravashi', 'Ahura': 'Asura', 'Hapta': 'Sapta', 'Hindu': 'Sindu', 'Persia': 'Pariha', 'Shiva': 'Shava'}
{'Agni': 'Fravashi', 'Ahura': 'Asura', 'Hapta': 'Sapta', 'Hindu': 'Sindu', 'Persia': 'Pariha', 'Shiva': 'Shava'}

In [ ]:
# Handling missing keys in Python
dict1 = {"Pariha":"Persia","Sapta":"Hapta","Sindu":"Hindu","Asura":"Ahura","Shava":"Shiva"}
print(dict1.get("Sapta","Not Found"))
print(dict1.get("Abc","Not Found"))

Hapta
Not Found

In [ ]:
# Ways to sort list of dictionaries by values in Python â€“ Using itemgetter

from operator import itemgetter

list1 = [{"name": "Nandini", "age": 20},
       {"name": "Manjeet", "age": 20},
       {"name": "Nikhil", "age": 19}]

# using sorted and itemgetter to print list sorted by age
print ("The list printed sorting by age: ")
print (sorted(list1, key=itemgetter('age')))

print("\r")

# using sorted and itemgetter to print list sorted by both age and name
# notice that "Manjeet" now comes before "Nandini"
print("The list printed sorting by age and name: ")
print(sorted(list1, key=itemgetter('age', 'name')))

print("\r")

# using sorted and itemgetter to print list sorted by age in descending order
print("The list printed sorting by age in descending order: ")
print(sorted(list1, key=itemgetter('age'), reverse=True))

In [ ]:
# 9. Program to create grade calculator in Python

# 1. Jack's dictionary
jack = {"name": "Jack Frost",
        "assignment": [80, 50, 40, 20],
        "test": [75, 75],
        "lab": [78.20, 77.20]
        }

# 2. James's dictionary
james = {"name": "James Potter",
         "assignment": [82, 56, 44, 30],
         "test": [80, 80],
         "lab": [67.90, 78.72]
         }

# 3. Dylan's dictionary
dylan = {"name": "Dylan Rhodes",
         "assignment": [77, 82, 23, 39],
         "test": [78, 77],
         "lab": [80, 80]
         }

# 4. Jessica's dictionary
jess = {"name": "Jessica Stone",
        "assignment": [67, 55, 77, 21],
        "test": [40, 50],
        "lab": [69, 44.56]
        }

# 5. Tom's dictionary
tom = {"name": "Tom Hanks",
       "assignment": [29, 89, 60, 56],
       "test": [65, 56],
       "lab": [50, 40.6]
       }

def get_avg(marks):
    total_sum = sum(marks)
    return total_sum/len(marks)

def cal_total_avg(students):
    avg_assig = get_avg(students["assignment"])
    avg_test = get_avg(students["test"])
    avg_lab = get_avg(students["lab"])
    return (0.1*avg_assig + 0.7*avg_test + 0.2*avg_lab)

def grades(score):
    if score>= 90:
        return "A"
    elif score>= 80:
        return "B"
    elif score>= 70:
        return "C"
    elif score>= 60:
        return "D"
    else:
        return "E"

def class_avg(students):
    result_list = []
    for i in students:
        stud_avg = cal_total_avg(i)
        result_list.append(stud_avg)
    return get_avg(result_list)

students = [jack,james,dylan,jess,tom]

for i in students:
    score = cal_total_avg(i)
    print(f"Average marks of {i['name']} is {score} with grades {grades(score)}")

class_average = class_avg(students)
print(f"\n Class Avg is {class_average}")

Average marks of Jack Frost is 72.79 with grades C
Average marks of James Potter is 75.962 with grades C
Average marks of Dylan Rhodes is 75.775 with grades C
Average marks of Jessica Stone is 48.356 with grades E
Average marks of Tom Hanks is 57.26 with grades E

 Class Avg is 66.02860000000001

In [ ]:
num = {1,1,1, 2, 3, 4, 5, 6, 7, 8, 9}
print(num)

fnum = frozenset(num)
print(fnum)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [ ]:
def myFun(name, *mob_nums):
    print ("first argument: ",name)
    for num in mob_nums:
        print("variable length arguments: ",num)

myFun("lissa",9988776655,8888999911,7788223355)

first argument:  lissa
variable length arguments:  9988776655
variable length arguments:  8888999911
variable length arguments:  7788223355

In [ ]:
# Fibonacci series

def fibb(n):
    a = 0
    b = 1
    if n==1:
        print(a)
    else:
        print(a)
        print(b)

        for i in range(2,n):
            c = a+b
            a=b
            b=c
            print(c)
fibb(10)

0
1
1
2
3
5
8
13
21
34

In [ ]:
# Fibonacci series nth number (using recursion)

def fibb(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibb(n-1)+fibb(n-2)

a = fibb(n=int(input('enter a no.: ')))

print(a)

5

In [ ]:
# Factorial or a number (using recursion)

def fac(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fac(n-1)
print('using_recursion',fac(5))

using_recursion 120