# Fundamental Data types

In [ ]:

# A data type in programming is a classification or category of data that defines the possible values that can be assigned to a variable, 
# how the values can be used, and the operations that can be performed on them.

# Data types are used to define the type of data like integer, float, string, list, dictionary, tuple, set.

In [1]:
# 1. int

a = 100
print(id(a))
print(type(a))
print(a)
# 1. id()     -- address of the object
# 2. type()   -- data type

140718185639816
<class 'int'>
100

In [1]:
print(int(10.1))

10

In [ ]:
# 2. float

b = 10.0
print(type(b))
print(b)

c = float(10)
print(c)

In [2]:
f=1.2e3
print(f) 
print(type(f))
# instead of 'e' we can use 'E'
# The main advantage of exponential form is we can represent big values in less memory.

1200.0
<class 'float'>

In [3]:
import sys # module 

size = sys.getsizeof(f) 
print(size)

print(sys.getsizeof(1200))

print(sys.getsizeof(1200.0))

24
28
24

In [1]:
# 3. complex

a=10+1.5j 
b=20+2.5j 
c=a+b
print(c)
print(type(c))

print(complex(True))
print(complex(False))

(30+4j)
<class 'complex'>
(1+0j)
0j

In [6]:
# 4. bool

# The only allowed values for this data type are:- True and False
d = True
e = False
print(type(d))
print(type(e))


# use
a = 10
b = 20
c = a < b
print(c)

<class 'bool'>
<class 'bool'>
True

In [ ]:
print(bool(0) )

In [ ]:
print(bool(1) )
print(bool(10))
print(bool(10.5))
print(bool(0.178))

In [ ]:
print(bool(0.0))

In [4]:
print(bool(10-2j))
print(bool(0+1.5j))

True
True

In [3]:
print(bool(0+0j))

False

In [2]:
print(bool("True")) 
print(bool("False"))

True
True

In [1]:
print(bool(""))

False

In [7]:
# 5. String 

# A String is a sequence of characters enclosed within single quotes or double quotes or triple quotes.
# str represents String data type.

s1 = 'Meluha'
s2 = "Meluha's capital is Ayodhya."

print(s1,s2)

# By using single quotes or double quotes we cannot represent multi line string literals. we have to use three single quotes or three double quotes
s3 = """ He said, "I want a Book." and then went away. May be is wants Pavan's book"""
print(s3)
print(len(s3))

Meluha Meluha's capital is Ayodhya.
 He said, "I want a Book." and then went away. May be is wants Pavan's book
75

In [4]:
# 6. List Datatype
# mutable -- can change

l = [ 10, 20, "a",'b',10.0, [11, 12, 13], {"a":1,"b":2}, {1,2,3} ]
print(l)
l.append("pavan")
print(l)
l.pop()
print(l)

[10, 20, 'a', 'b', 10.0, [11, 12, 13], {'a': 1, 'b': 2}, {1, 2, 3}]
[10, 20, 'a', 'b', 10.0, [11, 12, 13], {'a': 1, 'b': 2}, {1, 2, 3}, 'pavan']
[10, 20, 'a', 'b', 10.0, [11, 12, 13], {'a': 1, 'b': 2}, {1, 2, 3}]

In [9]:
# 7. tuple
# immutable -- cannot change

t = (10, 20, "a",'b',10.0, [11, 12, 13], {"a":1,"b":2}, {1,2,3})
print(t)

(10, 20, 'a', 'b', 10.0, [11, 12, 13], {'a': 1, 'b': 2}, {1, 2, 3})

In [ ]:
# 8. set
# mutable -- can change

s = {10,20,20,30,30, "a",(1,2)} # can contain only immutable objects
print(s) # does not print dublicate values

# s = {10,20,20,30,30, "a", [0]}  # error  # set cannot contain list, dict
# print(s)

{(1, 2), 20, 10, 'a', 30}

In [9]:
s1 = {9,(1,2)} # -- correct
# s1 = {9,[1,2]} # -- incorrect
s1 = {9,{1,2}} # -- incorrect

TypeError: unhashable type: 'set'

In [9]:
s = {10,20,20,30,30}
print(s) 

s.add(2000)
print(s)

{10, 20, 30}
{2000, 10, 20, 30}

In [11]:
s = [10,20,20,30,30]

s1 = set(s)
s2 = list(s1)
print(s2)

[10, 20, 30]

In [12]:
# 9. Dictionary
# mutable but key is immutable

a = {"name":"abc",  "age":25,  "add":"pune"}  # key value pair 
print(a)

a["name"] = 123

print(a)

{'name': 'abc', 'age': 25, 'add': 'pune'}
{'name': 123, 'age': 25, 'add': 'pune'}

In [19]:
# 10. frozenset
# immutable -- cannot change

# In Python, the frozenset type is used to represent an immutable set,
# which means that once created, its contents cannot be modified

a = frozenset({10,20,30,30})


print(a)

frozenset({10, 20, 30})

In [ ]:

a.add(30)
# we cannot add elements in frozenset.

In [11]:
# 11. None

# None is a special constant value in Python that represents the absence of a value. 
# It is used to indicate that a function or method does not return anything, or that a variable does not have a value.

a = None
b = [None,None,10]

print(a)
print(type(a))
print(b)
print(type(b))

def my_function(my_arg=None):
    if my_arg is None:
        print("my_arg is not provided")
    else:
        print(f"my_arg is {my_arg}")

my_function()  # prints "my_arg is not provided"
my_function(42)  # prints "my_arg is 42"

None
<class 'NoneType'>
[None, None, 10]
<class 'list'>
my_arg is not provided
my_arg is 42

In [6]:
# 12. range

# -- immutable datatype
# range datatype is used to represent an immutable(not changing) sequence of numbers

# range(10) --> 0,1,2,3,4,5,6,7,8,9

for i in range(10):
    print(i)   

print("done")

0
1
2
3
4
5
6
7
8
9
done

In [ ]:

a = range(10)
print(type(a))

In [ ]:

for i in range(0,10):
    print(i)   
print()

In [ ]:

for i in range(0,10,3):
    print(i)   
print()

# 0 = start , 10 = end 3 = step

In [ ]:

for i in range(10,20,-3):
    print("hi")  # it is not even entering in the for loop
    print(i)

In [ ]:
a = range(10)
print(a)

In [ ]:

for i in range(10,0,-1):  # reverse
    print(i)   
a = range(10)
print(type(a))

In [13]:
# 13. bytes 

# -- immutable
# bytes data type represents a group of numbers just like an array

x = [1,2,3,1]
b = bytes(x)
print(b)
print(type(b))

b'\x01\x02\x03\x01'
<class 'bytes'>

In [ ]:
print(b[0])

In [ ]:
for i in b:
    print(i)

In [ ]:
x = [1,2,3,257]
c = bytes(x)
print(c)
print(type(c))

# error
# The only allowed values for byte data type are 0 to 256. By mistake if we are trying to 
# provide any other values then we will get value error.

In [ ]:
b[0] = 100
# error
# Once we creates bytes data type value, we cannot change its values,otherwise we will get TypeError

In [14]:
# 14. bytearray

# -- mutable
# bytearray is same as byte datatype except that it is mutable

x = [10,20,0,50]

b1 = bytearray(x)
print(b1)
for i in b1:
    print(i)

b1[0]=100
print(b1)
for i in b1:
    print(i)

bytearray(b'\n\x14\x002')
10
20
0
50
bytearray(b'd\x14\x002')
100
20
0
50