# for loop

In [ ]:
# for loop :- for loop is a way to automate repetitive tasks in a program by iterating over a sequence of values
#             objects like list,tuple,set, dictionary string etc. 
#             and performing a certain operation on each item in the sequence


# syntax:
    
# for variable in sequence:
#     statement to be executed

In [1]:
# When you run a for loop, interpreter performs the following steps:

# 1. It checks the iterable objects (list,tuple,dictionary,set,string etc.) to see whether it contains any elements.
    # If the iterable contains elements, it assigns the first element to the variable specified in the loop header 

# 2. It then executes the code within the loop body, using the current value of the variable.
    # After the loop body has finished executing, 
    # the interpreter goes back to step 1 and checks whether there are any more elements in the iterable.

# 3. If there are more elements, it assigns the next element to the loop variable and executes the loop body again.
    # This process continues until the iterable object is exhausted

In [1]:

# 1. using iterator you can iterate(repeat) over iterable things like list,tuple,dict etc.

list1 = [10,20,30,40]
for i in list1:
    print(i)

10
20
30
40

In [2]:
list2 = []
for i in list2:
    print(i)  # no output

In [3]:
fruits = ['apple', 'banana', 'cherry']

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [5]:
# 2. len()

fruits = ["apple", "banana", "orange"]

for i in range(len(fruits)):
    print("Index:", i, "Fruit:", fruits[i])

Index: 0 Fruit: apple
Index: 1 Fruit: banana
Index: 2 Fruit: orange

In [6]:
# 2. range

for i in range(5+1):
    print(i,"Hello, World!")

0 Hello, World!
1 Hello, World!
2 Hello, World!
3 Hello, World!
4 Hello, World!
5 Hello, World!

In [7]:
for i in range(5,0,-1): # reverse
    print(i)

5
4
3
2
1

In [8]:
for i in range(5,-1,-1): 
    print(i)

5
4
3
2
1
0

In [9]:
for i in range(5,-2,-1): 
    print(i)

5
4
3
2
1
0
-1

In [10]:
for i in range(5,-2): 
    print(i)  # no output

In [11]:
for i in range(5,0,-1):
    print('*',end=' ')

* * * * *

In [12]:
### 3. end = ' ' -- this end tells to the print() function to use space character instead of newline character at the end of each call to print()

for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [13]:
# count

lst = []
count = 0
for i in lst:
    count+=1
    print(i)
    
print(count)

0

“else” condition inside a “for” loop

In [ ]:

numbers = [2, 4, 6, 8, 9]

for number in numbers:
    if number % 2 == 1:
        print(number)
        
else:
    print("No odd numbers")

# else condition runs when the for loop runs fully without any break statement

In [ ]:

numbers = [2, 4, 6, 8, 9]

for number in numbers:
    if number % 2 == 1:
        print(number)
        break
else:
    print("No odd numbers")

# here due to break statement the else condition will not run.

"for" loop with "if-else" condition

In [ ]:
# you can use a for loop with an if-else statement to perform a conditional operation for each element in a sequence.

lst1 = [1, 'a', 'b', 4, 5]

for i in lst1:
    if i == str(i):
        print(i, "is string")
    else:
        print(i, "is integer")

"for" loop with "if-elif-else"

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

for fruit in fruits:
    if len(fruit) == 5:
        print(fruit, "has 5 letters")
    elif len(fruit) > 5:
        print(fruit, "has more than 5 letters")
    else:
        print(fruit, "has fewer than 5 letters")

"for" loop with "nested-if-else"

In [ ]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        if num > 2:
            print(num, "is even and greater than 2")
        else:
            print(num, "is even and less than or equal to 2")
    else:
        print(num, "is odd")

break, continue, & pass  (transfer statement)

In [ ]:
# break, continue, pass, can also be used for while loop

In [ ]:
# break statement -- goes out of the loop
for i in range(1, 10):
    if i == 5:
        break
    print(i,end=' ')



# continue statement -- goes to the start of the loop
for i in range(1, 20):
    if i == 10:
        continue
    print(i,end=' ') # see there 10 is not printed



## pass statement  -- used as a placeholder. when the pass statement is executed nothing happens, 
# but you avoid getting an error when empty code is not allowed.
# empty code is not allowed in loops, function definations, class definations, or in if statements.
for i in range(1, 20):
    pass

reversed for loop

In [ ]:
my_list = [1, 2, 3, 4, 5]

for element in reversed(my_list):
    print(element,end=' ')

nested for loop

In [ ]:
for i in range(6):
    for j in range(i):
        print('*',end=' ')
    print()

In [ ]:
for i in range(5, 0, -1):
    for j in range(i):
        print('*', end=' ')
    print()

In [ ]:
# tables
for i in range(2, 10+1):
    for j in range(1, 10+1):
        print(i * j, end=' ')
    print()

# Interview purpose

In [ ]:
# Q. when you use a for loop to iterate over an iterable object which methods/functions it calls?
    # Ans. --> __iter__() and __next__() methods are actually being called behind the scenes to get the iterator and iterate over the items.

In [ ]:
# when we know how many values are to be iterated then we use for loop or else while is used

# Exercise

In [ ]:
# 1. searching

found=False
print('Before',found)
for value in [4,6,2,77,62,66,22,7,51,91,12]:
    if value==22:
        found=True
        break
print('After',found)

In [ ]:
# 2. Program to print out all consonants in a string

string = "Hello, World!"
vowels = "aeiouAEIOU"
for char in string:
    if char in vowels:
        continue
    print(char,end='') # prints consonant letters only

In [ ]:
# 3. counting

my_tuple = (42, 3.14, "hello", 7, 2.718, "world", 10, 1.618, "python", 5, 34, 76, 98.00, 34, 22, 123, 345, 78,
           'abc', 'pqr' , 'a', 'e', 'i', 'o', 'u', 'movies', 'sports', 200, 300, 3456, 'Java')

integer_count = 0
float_count = 0
string_count = 0

for i in my_tuple:
    if i == str(i):
#         print(i,"string")
        string_count +=1
    elif i == int(i):
        integer_count +=1       
    elif i == float(i):
#         print(i,'this is float')
        float_count +=1
   
        

        
print('no. of integer: ',integer_count)
print('no. of strings: ',string_count)
print('no. of float values: ',float_count)

print(len(my_tuple))

# Practice

In [ ]:
# count, sum, average

count=0
sum=0

for value in [9,50,62,65,139,154]:
    count=count+1
    sum=sum+value

print(f"countis {count}. sum is {sum}. average is {sum/count}")

In [ ]:
# filtering

for value in [9,41,5,62,16,74]:
    if value>20:
        print ('larger number',value)

In [ ]:
# string

fruit = 'banana'
for letter in fruit :
    print(letter)

In [ ]:
# largest number

largest_so_far = -1
print('Before',largest_so_far)
for the_num in [-2,44,56,98,23,776,31,54]:
    if the_num > largest_so_far:
        largest_so_far = the_num
    print(largest_so_far, the_num)
print('After', largest_so_far)

In [ ]:
# smallest number

largest_so_far = -1
print('Before',largest_so_far)
for the_num in [44,56,98,23,776,31,54]:
    if the_num > largest_so_far:
        largest_so_far = the_num
print(largest_so_far)
smallest_so_far = largest_so_far
for the_num in [44,56,98,23,776,31,54]:
    if the_num < smallest_so_far:
        smallest_so_far = the_num
print('After',smallest_so_far)

In [ ]:
# smallest number with None

smallest = None
print('Before')
for value in [9,41,12,3,74,15]:
    if smallest is None:
        smallest = value
    elif value < smallest:
        smallest = value
    print(smallest, value)
print('After', smallest)

In [ ]:
# largest number with None

largest_so_far = None
print('Before',largest_so_far)
for the_num in [-2,-44,-56,-98,-23,-776,-31,-54]:
    if largest_so_far is None:
        largest_so_far = the_num
    elif the_num > largest_so_far:
        largest_so_far = the_num
    print(largest_so_far, the_num)
print('After', largest_so_far)

# see that using None we can tell the largest even if all the values are negative

In [ ]:
# write a multiplication table using for loop

num = int(input("Enter the number"))
for i in range(1, 11):
    # print(str(num) + " X " + str(i) + "=" + str(i*num))
    print(f"{num}X{i}={num*i}")
    # using f gives the variables its value
    # here variables are written in {}

In [ ]:
# greet persons from list whose name starts with 'S'

l1 = ["Harry", "Sohan", "Sachin", "Rahul"]

for name in l1:
    if name.startswith("S"):
        print("Hello " + name)

In [ ]:
# prime number or not

n = int(input())

for i in range(2,n):
    if n%i == 0:
        print('Not a prime number')
        break

else:
    print('Prime number')

In [ ]:
num = int(input("Enter the number: "))
prime = True

for i in range(2, num):
    if(num%i == 0):
        prime = False
        break
if prime:
    print("This number is Prime")
else:
    print("This number is not Prime")

In [ ]:
# Find factorial

n = int(input())
f = 1

for i in range(2,n+1):
    f = f*i

print(f)

In [ ]:
# multiplication table in reverse order

n =int(input('enter a no.: '))

for i in range(10):
    print(f'{n}x{10-i}={n*(10-i)}')

In [3]:
# *
# **
# ***
# ****
# print above pattern

n = 4
for i in range(n):
    print("*" * (i+1))

*
**
***
****

In [4]:
for i in range (n+1):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****

In [ ]:
#   *  
#  *** 
# *****
# print above pattern

n = 3
for i in range(3): 
    print(" " * (n-i-1),end="")
    print("*" * (2*i+1), end="")
    print(" " * (n-i-1))

In [ ]:
# ***
# **
# *
# print above pattern


n = 3
for i in range(n):
    print("*" * (n-i)) # Prints * n-i times

In [15]:
# check if the given number is prime number

n = 9

for i in range(2,n):
    if n%i == 0:
        print('not prime')
        break
else:    
    print('prime')

# else block only runs when all the iterations of the for loop are completed normally. 
# if there is a break anywhere(that means it completes less iterations) then the else block won't run.

not prime

In [16]:
n = 9

s = True 

for i in range(2,n):
    if n%i ==0:
        s = False
    
if s == False:
    print('non prime')
else:
    print('prime')

non prime