# Set Data Type

In [ ]:
# Set{}
#  Set is a built-in data type that represents an unordered collection of unique elements.
#  Sets are mutable but can store only immutable elements.(cannot contain dict,list)
#  Elements cannot be changed or replaced.

# -- mutable
# -- unordered (so there is no question of indexing)
# -- unique

In [ ]:
my_set = {10,20,30,30,(40),'fifty'}

print(my_set) # see the order has changed(since unordered)

In [ ]:
# you can create sets using 'set()' function

lst = [100,200,200,200,400,300,"a"]
print(lst)
print('---------------')
print(set(lst))

# set0 = set(1,2,3) # error
# print(type(set0))

In [ ]:
# empty set 

set1 = set()
print(type(set1))

In [ ]:
set1 = set{} # we can not use curly bracket
print(type(set1))

In [27]:
# set with single element

set2 = {1}
print(type(set2))

<class 'set'>

# Set Methods

In [1]:

# 1. add() - Adds an element to the set
my_set = {1, 2, 3}
my_set.add(4)
print('add',my_set)

add {1, 2, 3, 4}

In [2]:

# 2. clear() - Removes all elements from the set
my_set = {1, 2, 3}
my_set.clear()
print('clear',my_set)

clear set()

In [30]:

# 3. copy() - Returns a copy of the set
my_set = {1, 2, 3}
print(id(my_set))

new_set = my_set.copy()
print('new_set',new_set) 
print(id(new_set))

3136454312448
new_set {1, 2, 3}
3136454312672

In [33]:

# 4. difference() - Returns a set containing the values in set1 which are not present in set2
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
diff_set = set1.difference(set2)
print('diffset',diff_set)

diffset {1, 2, 3}

In [ ]:
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y)) #{10, 20}
print(x-y) #{10, 20}
print(y-x) #{50, 60}

In [3]:

# 5. discard() - Removes an element from the set if it is a member. Does not give an error if the element is not present(unlike remove())
my_set = {1, 2, 3}
my_set.discard(2)
print('discard',my_set)

discard {1, 3}

In [4]:
my_set = {1, 2, 3}
print(my_set.discard(7))

None

In [32]:

# 6. intersection() - Returns a set containing comman values
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersect_set = set1.intersection(set2)
print('intersect',intersect_set)

intersect {2, 3}

In [ ]:
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y)) #{40, 30}
print(x&y) #{40, 30}

In [55]:

# 7. isdisjoint() - Returns True if two sets have no intersection
set1 = {1, 2, 3}
set2 = {4, 5, 6}
print('isdisjoint',set1.isdisjoint(set2))

isdisjoint True

In [36]:

# 8. issubset() - Returns True if all elements of a set1 are present in set2
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
print('issubset',set1.issubset(set2))

issubset True

In [56]:

# 9. pop() - Removes and returns an arbitrary element from the set
my_set = {10,20,30,40,50}
popped_element = my_set.pop()
print(popped_element) 
print('pop',my_set)

50
pop {20, 40, 10, 30}

In [ ]:

# 10. remove() - Removes an element from the set, raises a KeyError if the element is not present
my_set = {1, 2, 3}
my_set.remove(2)
print('remove',my_set)

In [5]:
# 11. union()

x={10,20,30,40}
y={30,40,50,60}
print(x.union(y)) #{10, 20, 30, 40, 50, 60}
print(x|y) #{10, 20, 30, 40, 50, 60}

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [6]:
# 12. symmetric_difference()

x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y)) #{10, 50, 20, 60}
print(x^y) #{10, 50, 20, 60}

{10, 50, 20, 60}
{10, 50, 20, 60}

In [7]:
# 13. issuperset()

set_a = {1, 2, 3, 4, 5}
set_b = {2, 4}

is_superset = set_a.issuperset(set_b)

print(is_superset)

if is_superset:
    print("set_a is a superset of set_b")
else:
    print("set_a is not a superset of set_b")

True
set_a is a superset of set_b

In [8]:
# 14. difference_update()

set_a = {1, 2, 3, 4, 5}
set_b = {3, 4, 5, 6, 7}

# Remove elements from set_a that are also in set_b
set_a.difference_update(set_b)

print("Updated set_a after difference_update:", set_a)

Updated set_a after difference_update: {1, 2}

In [43]:
# 15. intersection_update()

set_a = {1, 2, 3, 4, 5}
set_b = {3, 4, 5, 6, 7}

# Keep only the elements that are common in set_a and set_b
set_a.intersection_update(set_b)

print("Updated set_a after intersection_update:", set_a)

Updated set_a after intersection_update: {3, 4, 5}

In [38]:
import sys

my_set = {1, 2, 3, 4, 5} #------------------hash table concept is used to store the value
size_of_set = sys.getsizeof(my_set)
print(size_of_set)  


my_list = [1, 2, 3, 4, 5] #----------------dynamic array concept
size_of_list = sys.getsizeof(my_list)
print(size_of_list) 


my_tuple = (1, 2, 3, 4, 5) #---------------fixed memory size
size_of_tuple = sys.getsizeof(my_tuple)
print(size_of_tuple)

472
104
80

In [10]:
s={10,20,30} 
l=[40,50,60,10] 

s.update(l,range(5)) 
print(s)

s.update(range(1,10,2),range(0,10,2))
print(s)

{0, 1, 2, 3, 4, 40, 10, 50, 20, 60, 30}
{0, 1, 2, 3, 4, 5, 6, 7, 40, 9, 10, 8, 50, 20, 60, 30}

In [11]:
s.update([100000])
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 40, 9, 10, 8, 50, 20, 100000, 60, 30}

In [12]:
s.update(10)  # TypeError: 'int' object is not iterable

TypeError: 'int' object is not iterable

In [ ]:
# Lists vs. Sets

# Lists	                                                                #Sets        

# Lists are Ordered.	                                            Sets are Unordered.
# Lists are Mutable.	                                            Sets are mutable but can store only immutable elements.(cannot contain dict,list)
# Elements can be changed or replaced in Lists.	                    Elements cannot be changed or replaced.

In [13]:
# somes examples of list, tuple, set, dictionary

abc=[1,2,3,{'a':2}]     #----[]
print('abc',type(abc))

asd=(1,2,3,{'a':2})     #----()
print('asd',type(asd))

axd={1,2,(3),'a'} # cannot contain dict,list     #----{}
print('axd',type(axd))


#empty

a=[]
print('a',type(a))

b=()
print('b',type(b))

c={}
print('c',type(c))

d=set()
print('d',type(d))

abc <class 'list'>
asd <class 'tuple'>
axd <class 'set'>
a <class 'list'>
b <class 'tuple'>
c <class 'dict'>
d <class 'set'>

In [47]:
axd={1,2,3,[1],'a'} # error # cannot contain list
print('axd',type(axd))

TypeError: unhashable type: 'list'

In [48]:
axd={1,2,3,{'a':1}} # error # cannot contain dict
print('axd',type(axd))

TypeError: unhashable type: 'dict'

# Set Comprehension

In [14]:
# Set comprehension is possible.

s={x*x for x in range(5)}
print(s) #{0, 1, 4, 9, 16}

s={2**x for x in range(2,10,2)}
print(s) #{16, 256, 64, 4}

{0, 1, 4, 9, 16}
{16, 256, 64, 4}

# Practice

In [ ]:
# Display uique numbers only

num1 = int(input("Enter number 1\n"))
num2 = int(input("Enter number 2\n"))
num3 = int(input("Enter number 3\n"))
num4 = int(input("Enter number 4\n"))
num5 = int(input("Enter number 5\n"))
num6 = int(input("Enter number 6\n"))
num7 = int(input("Enter number 7\n"))
num8 = int(input("Enter number 8\n"))

s = {num1, num2, num3, num4, num5, num6, num7, num8}
print(s)

In [15]:
## can we write a set with 18 as string as well as iteger

s = {18,"18",18.1}
print(s)
print(type(s))

{'18', 18, 18.1}
<class 'set'>

In [16]:
## unique

s = {20, 20.0, "20"}
print(s) 
print(len(s))

print(type(s))

# 20, 20.0 is considered same

{'20', 20}
2
<class 'set'>

In [ ]:
# 1. Find the size of a Set in Python
import sys

set1 = {1, 2, 3, 4} 
set2 = {"a",1,(4)}
s1 = sys.getsizeof(set1)
s2 = sys.getsizeof(set2)
print(s1)
print(s2)

In [17]:
# 2. Iterate over a set in Python
set1  = set("Abcdd")
for i in set1:
    print(i)

A
c
b
d

In [18]:
# 3. Python | Maximum and Minimum in a Set
set1 = {1,5,-8,45,3,6,99}
print(max(set1))
print(min(set1))

99
-8

In [19]:
# 4. Python | Remove items from Set
set1 = {1,5,-8,45,3,6,99}
set1.remove(5)
print(set1)
set1.pop()
print(set1)

print()
while set1:
    set1.pop()
    print(set1)

{1, 99, 3, 6, -8, 45}
{99, 3, 6, -8, 45}

{3, 6, -8, 45}
{6, -8, 45}
{-8, 45}
{45}
set()

In [20]:
# 5. Python | Check if two lists have at-least one element common
def fun(l1, l2):
    s1 = set(l1)
    s2 = set(l2)
    s = s1.intersection(s2)
    return s

l1 = [0,2,4,6,8]
l2 = [1,2,3,4,5,6]
# print(fun(l1,l2))
a = fun(l1,l2)
print(any(a))

True

In [21]:
# 6. Python program to find common elements in three lists using sets
l1 = [0,2,4,6,8]
l2 = [1,2,3,4,5,6]
l3 = [2,4,5]

def fun(l1, l2, l3):
    s1 = set(l1)
    s2 = set(l2)
    s3 = set(l3)
    s = s1.intersection(s2)
    q = s.intersection(s3)
    return q

print(fun(l1,l2,l3))

{2, 4}

In [22]:
# 7. Python | Find missing and additional values in two lists
lst1 = [0,2,4,6,8]
lst2 = [1,2,3,4,5,6]

def fun(lst1,lst2):
    s1 = set(lst1)
    s2 = set(lst2)
    l1a = []
    l1m = []
    l2a = []
    l2m = []
    s = s1.intersection(s2)
    for i in s1:
        if i not in s:
            l1a.append(i)
        if i not in s2:
            l2m.append(i)
    for i in s2:
        if i not in s:
            l2a.append(i)
        if i not in s1:
            l1m.append(i)
    print("additional values in lst1 is", l1a)
    print("additional values in lst2 is", l2a)
    print("mising values in lst1 is", l1m)
    print("mising values in lst2 is", l2m)

fun(lst1,lst2)

additional values in lst1 is [0, 8]
additional values in lst2 is [1, 3, 5]
mising values in lst1 is [1, 3, 5]
mising values in lst2 is [0, 8]

In [ ]:
# Example of printing numbers separated by spaces on the same line using end=' '
for i in range(5):
    print(i, end=' ')

In [2]:
a = [1,2,3]

b = a

print(id(a))
print(id(b))

1943201476416
1943201476416

In [3]:
c = [1,2,3]

d = c.copy()

print(id(c))
print(id(d))

1943201470016
1943194646592